
.body{
display: grid;
grid-template-columns: 5fr 1 fr;
}


.mi-header{
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: rgb(207, 204, 204);
    padding: 2em;
    border-radius: 5px;

}
.navegador{
    background-color: rgb(242, 243, 157);
    padding: 0,5em;
    margin-bottom: 1px;
    border: 5px solid rgb(94, 89, 89);
    border-radius: 5px;
    
}
.link-item{
    font-weight: 600;
    font-style: oblique;
    font-size: 20px;
    
}
.list-links{
    list-style-type: none;
    display: flex;
    gap: 20px;
    flex-direction: row;
    align-items: center;
    justify-content: left;
   
}
.list-links a{
    text-decoration: none;
}
.title{
    background-color: rgb(154, 154, 226);
    padding: 2%;
    margin-bottom: 5%;
    border: 5px solid black;
    border-radius: 5px;

}

.main{
    grid-column-start: 1;
    grid-column-end: 2;

    color: blueviolet;
    background-color: rgb(184, 211, 212);
    border: 3px solid;
    border-radius: 15px;
    display: flex;
    


}

.aside{
    background-color: red;
}
.footer{
    color: black;
    background-color: rgb(243, 156, 156);
    list-style-type: none;
    display: flex;
    gap: 5px;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    font-size: 20px;
    text-decoration: none;
}

.formulario{
    background-color: rgb(242, 199, 199);
    padding: 15px;
    padding-bottom: 10px;
    padding-right: 40px;
    border: 5px solid rgb(170, 43, 170);
    border-radius: 10px;
    margin: 20px 10px;
    width: 300px;
    height: 560px;
    box-shadow: 2px 2px 2px rgb(144, 136, 136);
    color: rgb(3, 3, 83);
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    font-weight: 500;
    

    
}
.formulario h1{
    font-size: 1.5em;
    font-weight: 300;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: center;
}
.formulario p{
    text-decoration: underline;
}
.Descripcion{
    color: coral;
    font-style: italic;
}   
.boton{
    background-color: rgb(121, 121, 213);
    border: 2px solid black;
    border-radius: 30px;
    box-shadow: 2px 2px 2px rgb(144, 136, 136);
    padding: 10px 5px;

    

}